
/* To arrange divs on left and right */
.leftright {
    margin: 0; padding: 0;
    display: flex;
    gap: 5px;
}

/* Link stylings */
a {
    font-weight: bold;
    text-decoration: none;
}
.nav {
    background-color: rgb(207, 247, 245);
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 100vh;
}

.added-stores{
    display: flex;
    align-items: center;
    justify-items: center;
    gap : 5px;
}


