
/* Theme configuration */
:root {
    --dash_bg: rgb(241, 241, 241);
    --module_bg : rgb(241, 241, 241);

    --small_gap : 5px;
}


/* Common Styles */
/* borders with round edge */
.dashboard-module, .checkboxes, .date-range {
    border: 1px solid black;
    border-radius: 5px;
}
/* border only*/
.nav{
    border: 1px solid black;
}

/* PADDING */


.nav {
    display: flex; gap: var(--small_gap);
    padding: var(--small_gap);
}

.right{
    width: 100%;
}

/* Appearance*/
.content{
    background-color: var(--dash_bg);
    padding: 5px;
}

/* basic config*/
.dashboard {
    display: flex;
}

/* Link stylings */
a {
    font-weight: bold;
    text-decoration: none;
}

.added-stores{
    display: flex;
    align-items: center; justify-items: center;
    gap : var(--small_gap);
}

/* Store detail */
.store-detail{
    display: flex; flex-wrap: wrap;
    gap: var(--small_gap);
}

.dashboard-module{
    background-color: var(--module_bg);
    max-width: 500px;
}

.dashboard-module form{
    margin: 0;
    padding: 5px;
}

.selection-group{
    display: flex; gap: var(--small_gap);
    flex-wrap: wrap;
}

select{
    width: 100vh;
}

.checkboxes, .check{
    display: flex; gap:var(--small_gap);
}
.checkboxes{
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    padding:var(--small_gap);
}

.dates{
    display: flex;
    gap: 5px;
}

.settlements{
    display: flex;
    gap:var(--small_gap);
    flex-wrap: wrap;
}
.settlement{
    display: flex;
    gap: var(--small_gap);
}

div.settlements form{
    width: auto;
}
