/* Theme configuration */
:root {

    --dash_bg: rgb(240, 233, 213);
    --module_bg :rgb(203, 255, 242);


    --small_gap : 5px;
}

.nav {
    background-color: rgb(207, 247, 245);
    display: flex;
    gap: var(--small_gap);
    padding: 5px;
    width: 100vh; 
}

.right{
    width: 100%;
}

/* Appearance*/
.content{
    background-color: var(--dash_bg);
    padding: var(--small_gap);
}

/* basic config*/
.dashboard {
    display: flex;
}

/* Link stylings */
a {
    font-weight: bold;
    text-decoration: none;
}

.added-stores{
    display: flex;
    align-items: center; justify-items: center;
    gap : 5px;
}

/* Store detail */
.store-detail{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dashboard-module{
    background-color: var(--module_bg);
    border-radius: 5px;
    width: auto;
    padding: var(--small_gap);
}

.selection-group{
    display: flex;
    gap: var(--small_gap)
}

select{
    width: 100vh;
}

.checkboxes{
    display: flex; gap:var(--small_gap)
}
.date-range, .date{
    display: flex; gap: 5px;
}
