{% extends 'base.html' %}
{% block base %}
    <div class="form">
        <h1>Add Store</h1>
        <form id="store-form">
            <div class="leftright">
                <h4>Select a Platform</h4>
                <select id="selector">
                    <option>Select a Platform</option>
                    {% for platform in platforms %}
                    <option>{{platform}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="credentials">

            </div>

            <div id="submission">

            </div>
        </form>
    </div>
{% endblock %}