{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecom Tango</title>

    {% include 'connections.html' %}



</head>
<body>
    <!-- For other pages -->
    <div class="dashboard">
        {% include 'sidebar.html' %}
        <div class="right">
            {% include 'navbar.html' %}
            <div class="content">
                {% block base %}
                {% endblock %} 
            </div>
        </div>
    </div>
</body>
</html>