<div class="sidebar left">
    <div class="title">
        <h3 class="site-name">Ecom-Tango</h3>    
    </div>
    
    <div class="nav-list">
        <h5>Auth</h5>
        <ul>
            <li><a href="">Login</a></li>
            <li><a href="">Signup</a></li>
        </ul>
    </div>

    <div class="nav-list">
        <h5>Stores</h5>
    </div>

    <div class="nav-list">
        <h5>Utilities</h5>
        <ul>
            <li><a href="{% url 'dashboard:add_store' %}">Add Store</a></li>
        </ul>
        
    </div>


</div>